@model IEnumerable<WebProject.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maThanhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maGiaoDich)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maGiaoDich)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maKH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maKH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maKH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
