@model IEnumerable<ElectronicEquipmentStore.Models.ProductGroup>

@{
    ViewData["Title"] = "Product Groups";
}

<h1>Product Groups</h1>

<p>
    <br />
    <div class="row">
        <div class=" col-6">
            <h2 class="text-info">Summary</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info">  &nbsp; New Product Group</a>
        </div>
    </div>
    <br />
</p>

<form asp-controller="ProductGroups" asp-action="Index">
    <p>
        Tìm nhóm sản phẩm: <input type="text" name="SearchString">
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maNSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenNSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuongSpMoiNhom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maDM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.maNSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenNSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soLuongSpMoiNhom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maDM)
                </td>
                <td>
                    <a asp-action="Edit" class=" btn btn-primary" asp-route-id="@item.maNSP">Edit</a>
                    <a asp-action="Details" class=" btn btn-info" asp-route-id="@item.maNSP">Details</a>
                    <a asp-action="Delete" class=" btn btn-danger" asp-route-id="@item.maNSP">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
