@model ElectronicEquipmentStore.Models.Receipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayGiaoDich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayGiaoDich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soLuongSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soLuongSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thanhTieh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thanhTieh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenKH)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
