@model IEnumerable<WebProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuongSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.giaKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.giaGoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maNSX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receipt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuongSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giaKhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giaGoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maNSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGroup.maNSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receipt.maHD)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maSP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maSP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
