@model IEnumerable<WebProject.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayGiaoDich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuongSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thanhTieh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseHistory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayGiaoDich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuongSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thanhTieh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.maKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseHistory.maPurchaseHistory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maHD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maHD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maHD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
